HOST = 'Minecraft-26.3'
PORT = 1488
USERNAME = "banana"
PASSWORD = "g@t2dwP3KjdqwdqjwaaUlvsMRdwwdqodwq"


AWS_REGION_NAME=
AWS_ENDPOINT_URL=
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_PUBLIC_URL=
AWS_BUCKET_NAME=

AMQP_HOST=
AMQP_PORT=
AMQP_VIRTUAL_HOST=
AMQP_USERNAME=
AMQP_PASSWORD=

PGHOST='p-quiet-bdddadadadaer.c-5.ewef-central-1.aws.neon.tech'
PGDATABASE='bpaddadad'
PGUSER='sdfghyjk,'
PGPASSWORD='ncawdowl,&*!JIM,m19jpd!(,DO'